.objectif
{
    background: linear-gradient(132deg, rgba(46,55,75,1) 0%, rgba(41,47,60,1) 100%);
    padding: 10px 20px;
    border-radius: 25px;
    
    .content
    {
        display: flex;
    }
}